<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" id="keyboard" *ngIf="show">
    <ion-button (click)="goToSettings()">Settings</ion-button>
    <p> {{wordLength}} : {{tries}}</p>
  </div>

  <div id="tries"*ngFor="let tries of board">
    <span style="" *ngFor="let letter of tries">[{{letter}}]</span>
  </div>

  <div id="keyboard_line" *ngFor="let line of keyboard">
    <div class="key" *ngFor="let letter of line">
        <ion-button *ngIf="letter !== 'Enter' && letter !== '<--'" (click)="addLetter(letter)">[{{letter}}]</ion-button>
        <ion-button *ngIf="letter === 'Enter'" (click)="checkMot()">[{{letter}}]</ion-button>
        <ion-button *ngIf="letter === '<--'" (click)="deleteLetter()">[{{letter}}]</ion-button><br>
    </div>
  </div>


</ion-content>
